{% extends 'films/base.html' %}
{% load django_bootstrap5 %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Редактирование Телепрограммы</li>
    </ol>
  </nav>
  {% block content %}
  {% endblock %}
  <h1>Редактирование Телепрограммы</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ form.media }}
    {% bootstrap_button button_type='submit' content='Сохранить' %}
  </form>
{% endblock %}
